{
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "groupon"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "rules": {
    "node/no-unsupported-features/es-syntax": 0,
    "import/no-extraneous-dependencies": 0
  }
}
