@import './navigate/index.css';
@import './choice/index.css';
@import './home-link/index.css';
@import './quiz/index.css';
@import './results-page/index.css';
@import './settings/index.css';
@import './share/index.css';
@import './layout.css';
