@font-face {
  font-family: "SF Hollywood Hills";
  src: url('../../static/fonts/hollywood/SFHollywoodHills.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../static/fonts/hollywood/SFHollywoodHills.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../static/fonts/hollywood/SFHollywoodHills.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'SF Hollywood Hills';
  letter-spacing: 2px;
  box-sizing: border-box;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  line-height: 1;
  scroll-snap-type: y mandatory;
}

h1 {
  font-size: 200px;
  text-align: center;
  margin: 0;
}

.sparkle {
 /* If we ever want to add sparkles back in... */
 /* -webkit-text-fill-color: transparent;
 background: -webkit-linear-gradient(transparent, transparent), url('../images/glitter.gif') repeat;
 -webkit-background-clip: text; */
 color: white;
}

.text {
  font-size: 34px;
  padding: 20px 0;
}

button {
  font-family: 'SF Hollywood Hills';
  width: 400px;
  height: 100px;
  font-size: 60px;
  background-color: hotpink;
  color: white;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 20px;
  letter-spacing: 4px;
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
    text-align: center;
  }

  h1 {
    font-size: 100px;
    margin-bottom: 100px;
  }

  button {
    width: 100%;
  }

  .navigate-down-arrow {
    display: none;
  }
}

.bold-brand {
  color: hotpink;
  font-weight: bold;
}

.scroll-piece {
  scroll-snap-align: start;
  height: 100vh;
  position: relative;
  scroll-snap-stop: always;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navigate-down-arrow {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  font-size: 100px;
  margin-left: auto;
  margin-right: auto;
  transform: scale(1, -1);
  width: 100px;
  text-align: center;
  cursor: pointer;
}

.quiz {
  display: flex;
  justify-content: center;
  align-items: center;
}
