@font-face {
  font-family: "SF Hollywood Hills";
  src: url('../../static/fonts/hollywood/SFHollywoodHills.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../static/fonts/hollywood/SFHollywoodHills.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../static/fonts/hollywood/SFHollywoodHills.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'SF Hollywood Hills';
  letter-spacing: 2px;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

h1 {
  font-size: 100px;
}

.sparkle {
 -webkit-text-fill-color: transparent;
 background: -webkit-linear-gradient(transparent, transparent), url(https://media.giphy.com/media/UYgkFrfCaPJEk/giphy.gif) repeat;
 -webkit-background-clip: text;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
    text-align: center;
  }
}
