.choice {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  border: 4px solid hotpink;
  border-radius: 8px;
  padding: 6px;
  margin: 0 8px 8px 0;
  font-family: 'SF Hollywood Hills';
  background-color: white;
  line-height: 1;
  letter-spacing: 2px;
}

.choice.clicked.correct {
  background-color: hotpink;
  color: white;
}

.choice.clicked.incorrect {
  background-color: rgb(255, 105, 180, 0.2);
}

.choice:disabled {
  color: black;
}
