.percentage {
  font-size: 100px;
}

.results-container {
  border: 4px solid hotpink;
  border-radius: 8px;
  width: 50%;
  text-align: center;
  margin: 20px 0;
}

.results-headers {
  display: flex;
  border-bottom: 4px solid hotpink;
  background-color: rgb(255, 105, 180, 0.2);
}

.results-header {
  flex-basis: 50%;
  font-size: 48px;
  padding: 8px;
  font-weight: bold;
}

.results-header:first-child {
  border-right: 4px solid hotpink;
}

.results-body {
  height: 25vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.results-row {
  display: flex;
  align-items: center;
}

.results-row:not(:last-child) {
  border-bottom: 4px solid hotpink;
}

.results-data {
  padding: 8px;
  font-size: 24px;
  flex-basis: 50%;
}

.results-data:first-child {
  border-right: 4px solid hotpink;
}

.results-header-question, .results-name {
  flex-basis: 80%;
}
